/* Buttons Styles */
button{
    background-color: $tangerine;
    color: $black;
    font-family: $poppins;
    font-size: $small;
    font-weight: $regular;
    
    &:hover{
        background-color: $white;
    }
}