/* Animations Styles */
.gear{
    animation: spin 3s linear infinite normal;
    transform-origin: 80% 80%;
}
.selector{
    animation: move-right 2s linear infinite alternate;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
        }
    100% {
        transform: rotate(360deg);
        }
}
@keyframes move-right{
    0% {
        transform: translate(0px);
        }
    100% {
        transform: translate(100px);
        }
}