/* Variables Styles */
// Color Scheme
$white: #fff;
$black: #000;
$sable: #060606;
$charcoal: #2e1503;
$tangerine: #ffaf6d;
$orange: #ffa500;

// Input Placeholder
$dark-gray: rgb(59, 59, 59);

//Breakpoints devices
$breakpoints: (
    'tall': (max-width: 520px),
    'wide': (min-width: 521px)
);