/* Grid Styles */
.container{
    display: -ms-grid;
    display: grid;
    @include respond-to('tall') {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    @include respond-to('wide') {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
}