/* Header Styles */
.header{
    position: static;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.hero{
    width: auto;
    height: 100%;
    position: relative;
    margin-left: 3rem;
    margin-right: 3rem;
    
    @include respond-to('wide') {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}