/* Main Styles */
.container{
    position: relative;
    width: 100%;
    height: 100%;    
    box-sizing: border-box;
    margin-top: auto;
}
.main{
    display: block;
    box-sizing: border-box;
    position: relative;
}
.blog-entry{
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
}